*

!assets/
!assets/**

!foot/
!foot/**

!hypr/
!hypr/**

!mpd/
!mpd/**

!mpv/
!mpv/**

!ncmpcpp/
!ncmpcpp/**

!newsraft/
!newsraft/**

!rofi/
!rofi/**

!waybar/
!waybar/**

!wlogout/
!wlogout/**

!vim/
!vim/**

!.bashrc/
!.gitignore/
