*

!assets/
!assets/**

!i3/
!i3/**

!kitty/
!kitty/**

!mpv/
!mpv/**

!newsraft/
!newsraft/**

!picom/
!picom/**

!polybar/
!polybar/**

!rofi/
!rofi/**

!vim/
!vim/**

!yazi/
!yazi/**

!.bashrc
!.xinitrc
!.gitignore
