*

!assets/
!assets/**

!emacs/
!emacs/**

!i3/
!i3/**

!kitty/
!kitty/**

!mpv/
!mpv/**

!polybar/
!polybar/**

!rofi/
!rofi/**

!tmux/
!tmux/**

!vim/
!vim/**

!yazi/
!yazi/**

!.bashrc
!.xinitrc
!.gitignore
!dotfiles-install.sh
